/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #FFF;
}

body, html {
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

.container {
    display: flex;
    width: 90%;
    max-width: 1200px;
    height: 80vh;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}

/* Coluna do Formulário */
.form-section {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.logo img {
    width: 222px;
    height: 222px;
    flex-shrink: 0;
    justify-content: center;
}

.logo h1 {
    margin: 10px 0;
    color: green;
    font-size: 20px;
    font-weight: bold;
}

form {
    width: 100%;
    max-width: 400px;
}

form p {
    text-align: center;
    margin: 10px 0;
    color: #888;
}

label {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    font-size: 14px;
    color: #666;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.login-btn:hover {
    background-color: #005900;
}

.google-login,
.facebook-login {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background-color: white;
}

.google-login {
    color: #dd4b39;
}

.facebook-login {
    color: #3b5998;
}

/* Coluna da Imagem */
.image-section {
    flex: 1;
    overflow: hidden;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}